body {
	margin: 0;
	background-color: #161616;
}

.pan-container {
	border: 2px solid #fff1;
	border-radius: 8px;
}

#canvas-container {
	display: grid;
	margin: 100px;
}
canvas {
	grid-area: 1/1;
	border: 1px solid #fff1;
	border-radius: 8px;
	image-rendering: pixelated;
}